<!doctype html>
<html>
    <head>
        <title>James McNamara</title>
        <link rel=stylesheet type=text/css href="/static/style.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
 	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

		<script type="text/javascript" src="static/js/jquery.smint.js"></script>

	<script type="text/javascript">
            $(document).ready( function() {
                $('.sub_menu').smint({
                    'scrollSpeed':500
                });
            });
        </script>  

             <script type="text/javascript" src="/static/js/to-top.js"></script>


    </head>
    <body> 
        <div class=page>
        
            <h1>Meet James</h1>
            <div class=metanav>
                    <a href="/about" class="navbutton top_nav">about</a>
                    <a href="/resume" class="navbutton top_nav">r&eacute;sum&eacute;</a>
                    <a href="/code" class="navbutton top_nav">code</a>
                    <a href="/blog" class="navbutton top_nav">blog</a>
                    <a href="/contact" class="navbutton top_nav">contact</a>
                <span class=span_stretch></span>
            </div>
            {{.}}
        </div>
        <a id=back-to-top href=#><img src='http://nrw-kultur.de/fileadmin/templates/iconfiles/topIcon.png'></a>
    </body>     
   </html>   
